<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1032762439144-nuc4hh313gpr9krovg7f1hugg67o0dtb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032762439144-nuc4hh313gpr9krovg7f1hugg67o0dtb</string>
	<key>API_KEY</key>
	<string>AIzaSyDu6Zber1mt__v3IBktPL5HtHHgFg4khUA</string>
	<key>GCM_SENDER_ID</key>
	<string>1032762439144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sunady.TotPlayer</string>
	<key>PROJECT_ID</key>
	<string>totplayer-4880a</string>
	<key>STORAGE_BUCKET</key>
	<string>totplayer-4880a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032762439144:ios:9579429d0cff9a81</string>
	<key>DATABASE_URL</key>
	<string>https://totplayer-4880a.firebaseio.com</string>
</dict>
</plist>